.dropdown-wrapper {
  position: absolute;
  background-color: white;
  top: calc(100% + 0.7rem + 1px);
  width: 350px;
  right: 0;
  padding: 1rem;
  border: 1px solid var(--grey-91);
  border-top: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
  text-align: left;
}

.dropdown-wrapper::before {
  content: "";
  position: absolute;
  top: -7px;
  left: calc(50% - 13px);
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: white;
  border: 1px solid transparent;
  border-top-color: var(--grey-91);
  border-left-color: var(--grey-91);
}

.dropdown-wrapper > .title {
  margin: 0 0 1rem;
  font-size: 20px;
}

.dropdown-wrapper > .label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

.dropdown-wrapper > .select {
  width: 100%;
}

.dropdown-wrapper > .radio-button-group {
  display: flex;
  margin: 0 -5px;
}
