fieldset {
  border: unset;
  margin: 0 0 2rem 0;
  padding: unset;
}

fieldset:last-child {
  margin: 0;
}

legend {
  position: sticky;
  top: 22px;
  font-weight: 700;
  background-color: white;
  padding: 0 0.5rem;
  margin: 2rem 1.5rem;
  z-index: 3;
  color: var(--red);
}

.tabs {
  display: flex;
}

.tabs > .selector {
  flex-grow: 1;
  background: transparent;
  border: none;
  font-family: inherit;
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey-91);
  outline: none;
}

.tabs > .selector:hover {
  border-bottom-color: var(--grey-55);
}

.tabs > .selector.is-active {
  border-bottom-color: var(--orange);
}

.tab-content > .tab {
  display: none;
}

.tab-content > .tab.is-active {
  display: block;
}
