.input {
  border: 1px solid var(--grey-89);
  background-color: white;
  border-radius: 3px;
  padding: 0 1rem;
  font-family: inherit;
  outline: none;
  grid-column: 2 / 3;
  min-width: 300px;
  box-sizing: border-box;
}

.input:disabled {
  cursor: not-allowed;
  background-color: transparent;
  border-color: transparent;
  padding: unset;
}

.input:hover {
  border-color: var(--grey-80);
}

.input:focus {
  border-color: var(--orange);
}

input.input {
  height: 40px;
}

select.input {
  height: 40px;
}

textarea.input {
  min-width: 40px;
  min-width: 300px;
}

.checkbox {
  position: relative;
}
