.input {
  border: 1px solid var(--grey-89);
  background-color: white;
  border-radius: 3px;
  padding: 0 1rem;
  font-family: inherit;
  outline: none;
  grid-column: 2 / 3;
  min-width: 300px;
  box-sizing: border-box;
}

.input:disabled {
  cursor: not-allowed;
  background-color: var(--grey-96);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

.input:not(:disabled):hover {
  border-color: var(--grey-80);
}

.input:not(:disabled):focus {
  border-color: var(--orange);
}

input.input {
  height: 40px;
}

select.input {
  height: 40px;
}

textarea.input {
  min-width: 40px;
  min-width: 300px;
}
