.property-group {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 0 2rem;
  place-items: start;
  padding: 1.5rem 2rem;
}

.property-group:nth-child(even) {
  background-color: var(--grey-98);
}

.property-group.is-hidden {
  display: none;
}

.form-label {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.form-helper {
  grid-column: 2 / 3;
}

.form-helper > .message {
  font-style: italic;
  font-size: 13px;
  margin: 0.2rem 0 0;
  color: var(--grey-23);
}

.form-helper > .warning {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin: 0.4rem 0 0;
  color: var(--orange);
  border: 1px solid hsl(33deg 100% 90%);
  padding: 0.5rem;
  border-radius: 3px;
}

.form-helper > .warning > svg {
  margin-right: 0.5rem;
}
