.select {
  border: 1px solid var(--grey-89);
  background-color: white;
  border-radius: 3px;
  padding: 0 1rem;
  font-family: inherit;
  outline: none;
  grid-column: 2 / 3;
  min-width: 300px;
  box-sizing: border-box;
  height: 40px;
  appearance: none;
  background: white url(../icons/chevron-down.svg) no-repeat 96% center;
  background-size: 18px;
}

.select:disabled {
  cursor: not-allowed;
  background-color: var(--grey-96);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 1rem 1rem;
}

.select:not(:disabled):hover {
  border-color: var(--grey-80);
}

.select:not(:disabled):focus {
  border-color: var(--orange);
}
